# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Visual Studio / Windows build artifacts
.vs/
*.suo
*.user
*.obj
*.idb
*.pdb
*.ilk
*.log
*.tlog
*.recipe
*.lastbuildstate
*.FileListAbsolute.txt
x64/

# Runtime/editor files
imgui.ini
